<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Ambiente" value="VS" />

    <!-- Ambiente de Desenvolvimento VisualStudio -->
    <add key="VS.URLBaseREST" value="http://127.0.0.1:10081/api"/>
    <!--<add key="VS.URLBaseREST" value="http://10.0.0.130:81/api"/>-->
    <!--<add key="VS.URLBaseREST" value="http://10.9.16.197/api"/>-->
    <add key="VS.NmBaseNorma" value="sinj_norma" />
    <add key="VS.NmBaseVocabulario" value="sinj_vocabulario" />
    
    <add key="VS.NmBaseArquivoErroMigracao" value="arquivo_erro_migracao"/>
    <add key="VS.diretorio_arquivo" value="I:\Lightinfocon\Dados\Content\Sinj"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
