<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LightBaseConnectionString" value="user=lbw;password=lbw;server=server-sinj;udb=defudb"/>
    <add key="ServidorDeEmail" value="smtp.gmail.com"/>
    <add key="EmailFrom" value="notificacao.sinj2@gmail.com"/>
    <add key="EmailSenha" value="sinjnotificacao2012"/>
    <add key="EmailPorta" value="587"/>
    <add key="EnableSsl" value="true"/>
    <add key="EnableCredentials" value="true"/>
    <add key="LinkImagemEmailTopo" value="https://lh4.googleusercontent.com/-FDZEo11-O7Q/T3YXHnCfRbI/AAAAAAAAAAw/vHaVXh-Wn-c/s601/TopoSinj.jpg"/>
    <add key="LinkImagemEmailRodape" value="https://lh3.googleusercontent.com/-oQDkAno71Ho/T3mvzx1qDDI/AAAAAAAAAA4/mKQPbXJHfbM/s602/rodape.jpg"/>
  </appSettings>
</configuration>