/* Reset HTML5 element display
----------------------------------------------------------*/
html { position:absolute; width: 100%; height: 100%; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td{
	border-style: none;
    border-color: inherit;
    border-width: 0;
    padding: 0;
    outline: 0;
    font-size: 100%;
    margin: 0;
    border:none
}
ol, ul { list-style: none;} 
blockquote:before, blockquote:after, q:before, q:after {content: '' ; content: none; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
input[type=text],input[type=number] {padding-bottom:2px !important;}
small { font-size: 9px;}
#aspNetHidden, #aspnetForm, #Form, #Form1{list-style:none; border: 0px;  margin: 0; padding: 0; height:100%;}

/*Default
----------------------------------------------------------*/
html{overflow-y:scroll;}
body{margin: 0; padding: 0; width: 100%;}
body, td, th { font-family : Arial, Verdana, helvetica, Sans-Serif; font-size : 12px; color : #333; }
fieldset legend {font-size:16px;}
H3 a { font-weight:bold; }
a img, button img{ vertical-align:middle; }
.RadioButtons input[type=radio], .radioUnico {margin-right:10px; float:left; position:relative; top:0px; left:0px;}
.RadioButtons label , .labelRadioUnico{margin-right:30px; float:left;}
select, textarea, input[type="text"], input[type="number"], input[type="file"], input[type="password"], .simularInputText {background: url("../Imagens/stripe.png") repeat scroll left top #FFFFFF; border-style: solid; border-width: 1px; font-size: 13px; margin-right: 0px; vertical-align: middle; border-color: #CED0D5 #A8AAB2 #ACADB3 #CED0D5;}
textarea, input[type="text"], input[type="number"], input[type="file"], input[type="password"], .simularInputText {padding: 4px 4px;}
select {padding: 2px 2px; margin-right: 2px;}
select:focus, textarea:focus, input[type="text"]:focus, input[type="number"]:focus, input[type="password"]:focus { border-style: solid; border-width: 1px;}
.RadioButtonList { left: -8px; position: relative; top: -3px;}
.RadioButtonList tr td label { float: left; font-weight: normal; margin-left: 10px; margin-top: 5px; min-width: 50px !important;}
input[type="radio"] { margin-left: 0; top: -2px;}
input[type="radio"], input[type="checkbox"] { border: 0 none; display: inline;}
.CheckBoxList { left: -2px; position: relative; top: -3px;}
.CheckBoxList tr td label { font-weight: normal;  min-width: 30px !important;}
input.date{width:100px;}
