<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Ambiente" value="DESENVOLVIMENTO"/>

    <add key="DESENVOLVIMENTO.URLBaseREST" value="http://10.9.16.197:81/api"/>
    <add key="DESENVOLVIMENTO.NmBaseNorma" value="sinj_norma" />
    <add key="DESENVOLVIMENTO.NmBaseSituacao" value="sinj_situacao" />
    <add key="DESENVOLVIMENTO.NmBaseTipoDeRelacao" value="sinj_tipo_de_relacao" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
