<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Ambiente" value="DESENVOLVIMENTO_VS" />
    <add key="Aplicacao" value="CADASTRO" />
    <add key="NmCookie" value="neoLightSinj" />
    <add key="NmCookieLook" value="neoLightSinjLook" />
    <add key="NmCookiePush" value="neoLightSinjPush" />
    <add key="NmCookiePushLook" value="neoLightSinjPushLook" />
    <!-- Define a versão do sistema, atualmente o que está depois do ponto é baseado no SVN-->
    <add key="versao" value="3.1.00508" />
    <!-- Define as extensões aceitas no upload-->
    <add key="Extensoes" value="['html','pdf']" />
    <!-- Define a quantidade de linhas que um relatório xls ou pdf pode ter-->
    <add key="LimiteRelatorio" value="5000" />
    <!-- Define o tempo em milisecundos em que os tokens ficão ativos para recriar senha do notifique-me-->
    <add key="IntMillisecondsTokenRecriarSenhaPush" value="300000" />
    <add key="ScriptTimeout" value="86400" />
    <!-- Ambiente de Desenvolvimento VisualStudio -->
    <add key="DESENVOLVIMENTO_VS.usar_proxy" value="true" />
    <add key="DESENVOLVIMENTO_VS.Padrao" value="http://127.0.0.1:10502/sinjpadrao" />
    <!--<add key="DESENVOLVIMENTO_VS.URLBaseREST" value="http://10.0.0.130:8008/lbg" />-->
    <add key="DESENVOLVIMENTO_VS.URLBaseREST" value="http://api.brlight.net/tcdf/lbg" />
    <!--<add key="DESENVOLVIMENTO_VS.URLBaseREST" value="http://127.0.0.1:18008/lbg" />-->
    <!--<add key="DESENVOLVIMENTO_VS.URLBaseREST" value="http://127.0.0.1:20081/api" />-->
    <add key="DESENVOLVIMENTO_VS.URLSinjPortal" value="http://127.0.0.1:10501/sinj" />
    <add key="DESENVOLVIMENTO_VS.NmBasePortal" value="sinj_portal" />
    <add key="DESENVOLVIMENTO_VS.NmBaseNorma" value="sinj_norma" />
    <add key="DESENVOLVIMENTO_VS.NmBaseDiario" value="sinj_diario" />
    <add key="DESENVOLVIMENTO_VS.NmBaseAmbito" value="sinj_ambito" />
    <add key="DESENVOLVIMENTO_VS.NmBaseOrgaoCadastrador" value="sinj_orgao_cadastrador" />
    <add key="DESENVOLVIMENTO_VS.NmBaseOrgao" value="sinj_orgao" />
    <add key="DESENVOLVIMENTO_VS.NmBaseAutoria" value="sinj_autoria" />
    <add key="DESENVOLVIMENTO_VS.NmBaseTipoDeFonte" value="sinj_tipo_de_fonte" />
    <add key="DESENVOLVIMENTO_VS.NmBaseTipoDeEdicao" value="sinj_tipo_de_edicao" />
    <add key="DESENVOLVIMENTO_VS.NmBaseTipoDeDiario" value="sinj_tipo_de_diario" />
    <add key="DESENVOLVIMENTO_VS.NmBaseTipoDeNorma" value="sinj_tipo_de_norma" />
    <add key="DESENVOLVIMENTO_VS.NmBaseTipoDePublicacao" value="sinj_tipo_de_publicacao" />
    <add key="DESENVOLVIMENTO_VS.NmBaseSituacao" value="sinj_situacao" />
    <add key="DESENVOLVIMENTO_VS.NmBaseUsuario" value="sinj_usuario" />
    <add key="DESENVOLVIMENTO_VS.NmBaseRequerente" value="sinj_requerente" />
    <add key="DESENVOLVIMENTO_VS.NmBaseRequerido" value="sinj_requerido" />
    <add key="DESENVOLVIMENTO_VS.NmBaseRelator" value="sinj_relator" />
    <add key="DESENVOLVIMENTO_VS.NmBaseProcurador" value="sinj_procurador" />
    <add key="DESENVOLVIMENTO_VS.NmBaseInteressado" value="sinj_interessado" />
    <add key="DESENVOLVIMENTO_VS.NmBasePerfil" value="sinj_perfil" />
    <add key="DESENVOLVIMENTO_VS.NmBasePush" value="push" />
    <add key="DESENVOLVIMENTO_VS.NmBaseTipoDeRelacao" value="sinj_tipo_de_relacao" />
    <add key="DESENVOLVIMENTO_VS.NmBaseVocabulario" value="sinj_vocabulario" />
    <add key="DESENVOLVIMENTO_VS.NmBaseFaleConosco" value="sinj_fale_conosco" />
    <add key="DESENVOLVIMENTO_VS.NmBaseArquivo" value="sinj_arquivo" />
    <add key="DESENVOLVIMENTO_VS.NmBaseExcluido" value="sinj_excluido" />
    <add key="DESENVOLVIMENTO_VS.NmBaseLogErro" value="sinj_log_erro" />
    <add key="DESENVOLVIMENTO_VS.NmBaseLogLBIndex" value="log_lbindex" />
    <add key="DESENVOLVIMENTO_VS.NmBaseLogLBConverter" value="log_lbconverter" />
    <add key="DESENVOLVIMENTO_VS.NmBaseLogAcesso" value="sinj_log_acesso" />
    <add key="DESENVOLVIMENTO_VS.NmBaseLogOperacao" value="sinj_log_operacao" />
    <add key="DESENVOLVIMENTO_VS.NmBaseLogsSearch" value="sinj_log_pesquisa" />
    <add key="DESENVOLVIMENTO_VS.NmBaseArquivoVersionadoNorma" value="sinj_arquivo_versionado_norma" />
    <add key="DESENVOLVIMENTO_VS.NotifyEmailServer" value="smtp.gmail.com" />
    <add key="DESENVOLVIMENTO_VS.NotifyEmailAccount" value="monitoracao.sinj@gmail.com" />
    <add key="DESENVOLVIMENTO_VS.NotifyEmailPort" value="587" />
    <add key="DESENVOLVIMENTO_VS.NotifyEmailSsl" value="true" />
    <add key="DESENVOLVIMENTO_VS.NotifyEmailCredentials" value="true" />
    <add key="DESENVOLVIMENTO_VS.NotifyEmailPassword" value="lightbase" />
    <add key="DESENVOLVIMENTO_VS.LinkSINJ" value="http://127.0.0.1:8080" />
    <add key="DESENVOLVIMENTO_VS.MonitorarPush" value="false" />
    <add key="DESENVOLVIMENTO_VS.MonitorarPushSleep" value="120000" />
    <add key="DESENVOLVIMENTO_VS.DeletarAcaoSemVideSleep" value="1800000" />
    <!-- Ambiente de Desenvolvimento MonoDevelop -->
    <add key="DESENVOLVIMENTO_MONO.usar_proxy" value="true" />
    <add key="DESENVOLVIMENTO_MONO.Padrao" value="http://127.0.0.1/sinjpadrao" />
    <add key="DESENVOLVIMENTO_MONO.URLBaseREST" value="http://api.brlight.net/tcdf/lbg" />
    <add key="DESENVOLVIMENTO_MONO.URLSinjPortal" value="http://127.0.0.1:10501/sinj" />
    <add key="DESENVOLVIMENTO_MONO.NmBasePortal" value="sinj_portal" />
    <add key="DESENVOLVIMENTO_MONO.NmBaseNorma" value="sinj_norma" />
    <add key="DESENVOLVIMENTO_MONO.NmBaseDiario" value="sinj_diario" />
    <add key="DESENVOLVIMENTO_MONO.NmBaseAmbito" value="sinj_ambito" />
    <add key="DESENVOLVIMENTO_MONO.NmBaseOrgaoCadastrador" value="sinj_orgao_cadastrador" />
    <add key="DESENVOLVIMENTO_MONO.NmBaseOrgao" value="sinj_orgao" />
    <add key="DESENVOLVIMENTO_MONO.NmBaseAutoria" value="sinj_autoria" />
    <add key="DESENVOLVIMENTO_MONO.NmBaseTipoDeFonte" value="sinj_tipo_de_fonte" />
    <add key="DESENVOLVIMENTO_MONO.NmBaseTipoDeEdicao" value="sinj_tipo_de_edicao" />
    <add key="DESENVOLVIMENTO_MONO.NmBaseTipoDeDiario" value="sinj_tipo_de_diario" />
    <add key="DESENVOLVIMENTO_MONO.NmBaseTipoDeNorma" value="sinj_tipo_de_norma" />
    <add key="DESENVOLVIMENTO_MONO.NmBaseTipoDePublicacao" value="sinj_tipo_de_publicacao" />
    <add key="DESENVOLVIMENTO_MONO.NmBaseSituacao" value="sinj_situacao" />
    <add key="DESENVOLVIMENTO_MONO.NmBaseUsuario" value="sinj_usuario" />
    <add key="DESENVOLVIMENTO_MONO.NmBaseRequerente" value="sinj_requerente" />
    <add key="DESENVOLVIMENTO_MONO.NmBaseRequerido" value="sinj_requerido" />
    <add key="DESENVOLVIMENTO_MONO.NmBaseRelator" value="sinj_relator" />
    <add key="DESENVOLVIMENTO_MONO.NmBaseProcurador" value="sinj_procurador" />
    <add key="DESENVOLVIMENTO_MONO.NmBaseInteressado" value="sinj_interessado" />
    <add key="DESENVOLVIMENTO_MONO.NmBasePerfil" value="sinj_perfil" />
    <add key="DESENVOLVIMENTO_MONO.NmBasePush" value="push" />
    <add key="DESENVOLVIMENTO_MONO.NmBaseTipoDeRelacao" value="sinj_tipo_de_relacao" />
    <add key="DESENVOLVIMENTO_MONO.NmBaseVocabulario" value="sinj_vocabulario" />
    <add key="DESENVOLVIMENTO_MONO.NmBaseFaleConosco" value="sinj_fale_conosco" />
    <add key="DESENVOLVIMENTO_MONO.NmBaseArquivo" value="sinj_arquivo" />
    <add key="DESENVOLVIMENTO_MONO.NmBaseExcluido" value="sinj_excluido" />
    <add key="DESENVOLVIMENTO_MONO.NmBaseLogErro" value="sinj_log_erro" />
    <add key="DESENVOLVIMENTO_MONO.NmBaseLogLBIndex" value="log_lbindex" />
    <add key="DESENVOLVIMENTO_MONO.NmBaseLogLBConverter" value="log_lbconverter" />
    <add key="DESENVOLVIMENTO_MONO.NmBaseLogAcesso" value="sinj_log_acesso" />
    <add key="DESENVOLVIMENTO_MONO.NmBaseLogOperacao" value="sinj_log_operacao" />
    <add key="DESENVOLVIMENTO_MONO.NmBaseLogsSearch" value="sinj_log_pesquisa" />
    <add key="DESENVOLVIMENTO_MONO.NmBaseArquivoVersionadoNorma" value="sinj_arquivo_versionado_norma" />
    <add key="DESENVOLVIMENTO_MONO.NotifyEmailServer" value="10.9.16.22" />
    <add key="DESENVOLVIMENTO_MONO.NotifyEmailAccount" value="notificacao.sinj@tc.df.gov.br" />
    <add key="DESENVOLVIMENTO_MONO.NotifyEmailPort" value="25" />
    <add key="DESENVOLVIMENTO_MONO.NotifyEmailSsl" value="false" />
    <add key="DESENVOLVIMENTO_MONO.NotifyEmailCredentials" value="false" />
    <add key="DESENVOLVIMENTO_MONO.NotifyEmailPassword" value="lightbase" />
    <add key="DESENVOLVIMENTO_MONO.LinkSINJ" value="http://127.0.0.1:8080" />
    <add key="DESENVOLVIMENTO_MONO.MonitorarPush" value="false" />
    <add key="DESENVOLVIMENTO_MONO.MonitorarPushSleep" value="120000" />
    <add key="DESENVOLVIMENTO_MONO.DeletarAcaoSemVideSleep" value="1800000" />
    <!-- Ambiente de Produção -->
    <add key="PR.Padrao" value="/sinjpadrao" />
    <add key="PR.URLBaseREST" value="http://127.0.0.1:8008/lbg" />
    <add key="PR.URLSinjPortal" value="http://www.sinj.df.gov.br/sinj" />
    <add key="PR.NmBasePortal" value="sinj_portal" />
    <add key="PR.NmBaseNorma" value="sinj_norma" />
    <add key="PR.NmBaseDiario" value="sinj_diario" />
    <add key="PR.NmBaseAmbito" value="sinj_ambito" />
    <add key="PR.NmBaseOrgaoCadastrador" value="sinj_orgao_cadastrador" />
    <add key="PR.NmBaseOrgao" value="sinj_orgao" />
    <add key="PR.NmBaseAutoria" value="sinj_autoria" />
    <add key="PR.NmBaseTipoDeFonte" value="sinj_tipo_de_fonte" />
    <add key="PR.NmBaseTipoDeEdicao" value="sinj_tipo_de_edicao" />
    <add key="PR.NmBaseTipoDeDiario" value="sinj_tipo_de_diario" />
    <add key="PR.NmBaseTipoDeNorma" value="sinj_tipo_de_norma" />
    <add key="PR.NmBaseTipoDePublicacao" value="sinj_tipo_de_publicacao" />
    <add key="PR.NmBaseSituacao" value="sinj_situacao" />
    <add key="PR.NmBaseUsuario" value="sinj_usuario" />
    <add key="PR.NmBaseRequerente" value="sinj_requerente" />
    <add key="PR.NmBaseRequerido" value="sinj_requerido" />
    <add key="PR.NmBaseRelator" value="sinj_relator" />
    <add key="PR.NmBaseProcurador" value="sinj_procurador" />
    <add key="PR.NmBaseInteressado" value="sinj_interessado" />
    <add key="PR.NmBasePerfil" value="sinj_perfil" />
    <add key="PR.NmBasePush" value="push" />
    <add key="PR.NmBaseTipoDeRelacao" value="sinj_tipo_de_relacao" />
    <add key="PR.NmBaseVocabulario" value="sinj_vocabulario" />
    <add key="PR.NmBaseFaleConosco" value="sinj_fale_conosco" />
    <add key="PR.NmBaseArquivo" value="sinj_arquivo" />
    <add key="PR.NmBaseExcluido" value="sinj_excluido" />
    <add key="PR.NmBaseLogErro" value="sinj_log_erro" />
    <add key="PR.NmBaseLogLBIndex" value="log_lbindex" />
    <add key="PR.NmBaseLogLBConverter" value="log_lbconverter" />
    <add key="PR.NmBaseLogAcesso" value="sinj_log_acesso" />
    <add key="PR.NmBaseLogOperacao" value="sinj_log_operacao" />
    <add key="PR.NmBaseLogsSearch" value="sinj_log_pesquisa" />
    <add key="PR.NmBaseArquivoVersionadoNorma" value="sinj_arquivo_versionado_norma" />
    <add key="PR.NotifyEmailServer" value="10.9.16.22" />
    <add key="PR.NotifyEmailAccount" value="sinj@sinj.df.gov.br" />
    <add key="PR.NotifyEmailPort" value="25" />
    <add key="PR.NotifyEmailSsl" value="false" />
    <add key="PR.NotifyEmailCredentials" value="false" />
    <add key="PR.NotifyEmailPassword" value="lightbase" />
    <add key="PR.LinkSINJ" value="http://www.tc.df.gov.br/sinj" />
    <add key="PR.MonitorarPush" value="true" />
    <add key="PR.MonitorarPushSleep" value="1800000" />
    <add key="PR.DeletarAcaoSemVideSleep" value="1800000" />
    <add key="PR.SQLSERVERConnectionString" value="Server=10.9.16.130;Database=lexml;Trusted_Connection=False;User Id=lexml;Password=noV@*20II" />
    <!-- Ambiente de Teste da Light -->
    <add key="TESTE_LB.Padrao" value="/sinjpadrao" />
    <add key="TESTE_LB.URLBaseREST" value="http://10.0.0.130:8008/lbg" />
    <add key="TESTE_LB.URLSinjPortal" value="http://app.lightbase.cc/sinj" />
    <add key="TESTE_LB.NmBasePortal" value="sinj_portal" />
    <add key="TESTE_LB.NmBaseNorma" value="sinj_norma" />
    <add key="TESTE_LB.NmBaseDiario" value="sinj_diario" />
    <add key="TESTE_LB.NmBaseAmbito" value="sinj_ambito" />
    <add key="TESTE_LB.NmBaseOrgaoCadastrador" value="sinj_orgao_cadastrador" />
    <add key="TESTE_LB.NmBaseOrgao" value="sinj_orgao" />
    <add key="TESTE_LB.NmBaseAutoria" value="sinj_autoria" />
    <add key="TESTE_LB.NmBaseTipoDeFonte" value="sinj_tipo_de_fonte" />
    <add key="TESTE_LB.NmBaseTipoDeEdicao" value="sinj_tipo_de_edicao" />
    <add key="TESTE_LB.NmBaseTipoDeDiario" value="sinj_tipo_de_diario" />
    <add key="TESTE_LB.NmBaseTipoDeNorma" value="sinj_tipo_de_norma" />
    <add key="TESTE_LB.NmBaseTipoDePublicacao" value="sinj_tipo_de_publicacao" />
    <add key="TESTE_LB.NmBaseSituacao" value="sinj_situacao" />
    <add key="TESTE_LB.NmBaseUsuario" value="sinj_usuario" />
    <add key="TESTE_LB.NmBaseRequerente" value="sinj_requerente" />
    <add key="TESTE_LB.NmBaseRequerido" value="sinj_requerido" />
    <add key="TESTE_LB.NmBaseRelator" value="sinj_relator" />
    <add key="TESTE_LB.NmBaseProcurador" value="sinj_procurador" />
    <add key="TESTE_LB.NmBaseInteressado" value="sinj_interessado" />
    <add key="TESTE_LB.NmBasePerfil" value="sinj_perfil" />
    <add key="TESTE_LB.NmBasePush" value="push" />
    <add key="TESTE_LB.NmBaseTipoDeRelacao" value="sinj_tipo_de_relacao" />
    <add key="TESTE_LB.NmBaseVocabulario" value="sinj_vocabulario" />
    <add key="TESTE_LB.NmBaseFaleConosco" value="sinj_fale_conosco" />
    <add key="TESTE_LB.NmBaseArquivo" value="sinj_arquivo" />
    <add key="TESTE_LB.NmBaseExcluido" value="sinj_excluido" />
    <add key="TESTE_LB.NmBaseLogErro" value="sinj_log_erro" />
    <add key="TESTE_LB.NmBaseLogLBIndex" value="log_lbindex" />
    <add key="TESTE_LB.NmBaseLogLBConverter" value="log_lbconverter" />
    <add key="TESTE_LB.NmBaseLogAcesso" value="sinj_log_acesso" />
    <add key="TESTE_LB.NmBaseLogOperacao" value="sinj_log_operacao" />
    <add key="TESTE_LB.NmBaseLogsSearch" value="sinj_log_pesquisa" />
    <add key="TESTE_LB.NmBaseArquivoVersionadoNorma" value="sinj_arquivo_versionado_norma" />
    <add key="TESTE_LB.NotifyEmailServer" value="10.9.16.22" />
    <add key="TESTE_LB.NotifyEmailAccount" value="notificacao.sinj@tc.df.gov.br" />
    <add key="TESTE_LB.NotifyEmailPort" value="25" />
    <add key="TESTE_LB.NotifyEmailSsl" value="false" />
    <add key="TESTE_LB.NotifyEmailCredentials" value="true" />
    <add key="TESTE_LB.NotifyEmailPassword" value="lightbase" />
    <add key="TESTE_LB.LinkSINJ" value="http://app.lightbase.cc/sinj" />
    <add key="TESTE_LB.MonitorarPush" value="true" />
    <add key="TESTE_LB.MonitorarPushSleep" value="120000" />
    <add key="TESTE_LB.DeletarAcaoSemVideSleep" value="1800000" />
  </appSettings>
  <system.web>
    <customErrors mode="On" />
    <httpRuntime requestValidationMode="2.0" appRequestQueueLimit="1000" executionTimeout="1100" maxRequestLength="712000" requestLengthDiskThreshold="800" useFullyQualifiedRedirectUrl="false" minFreeThreads="80" minLocalRequestFreeThreads="20" enableKernelOutputCache="true" enableVersionHeader="true" requireRootedSaveAsPath="true" enable="true" shutdownTimeout="900" delayNotificationTimeout="5" waitChangeNotification="0" maxWaitChangeNotification="0" enableHeaderChecking="true" sendCacheControlHeader="true" apartmentThreading="false" />
    <globalization enableClientBasedCulture="false" fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="pt-BR" uiCulture="pt-BR" responseHeaderEncoding="utf-8" />
    <compilation debug="true">
      <assemblies>
        <add assembly="Microsoft.CSharp, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
  </system.web>
</configuration>