<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PathLog" value="C:\Users\Douglas\Desktop\Minha Bagunça\TCDF\sinj-access"/>
    <add key="UrlLog" value="http://api.brlight.net/es_tcdf/sinj_access_index/sinj_access"/>
    <add key="UrlNorma" value="http://api.brlight.net/es_tcdf/sinj_norma/norma"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
