<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Ambiente" value="VS" />
    <add key="ids_normas" value="" />
    <add key="where_normas" value="" />
    <add key="ids_diarios" value="" />
    <add key="where_diarios" value="" />

    <!-- Ambiente de Desenvolvimento VisualStudio -->
    <add key="VS.url_rest" value="http://api.brlight.net/tcdf/api"/>
    <!--<add key="VS.url_rest" value="http://10.9.16.197:81/api"/>-->
    <add key="VS.string_connection_lbw" value="user=lbw;password=lbw;server=192.168.20.129;udb=defudb"/>
    <!--<add key="VS.string_connection_lbw" value="user=lbw;password=lbw;server=server-sinj;udb=defudb"/>-->
    <add key="VS.golden_access_connection_string" value="http://SERVER-SINJ:3271/GoldenAccess.soap"/>
    <add key="VS.diretorio_arquivo" value=""/>
    <add key="VS.NmBaseAutoria" value="sinj_autoria"/>
    <add key="VS.NmBaseInteressado" value="sinj_interessado"/>
    <add key="VS.NmBaseRelator" value="sinj_relator"/>
    <add key="VS.NmBasePush" value="sinj_push"/>
    <add key="VS.NmBaseRequerente" value="sinj_requerente"/>
    <add key="VS.NmBaseRequerido" value="sinj_requerido"/>
    <add key="VS.NmBaseSituacao" value="sinj_situacao"/>
    <add key="VS.NmBaseTipoDeNorma" value="sinj_tipo_de_norma"/>
    <add key="VS.NmBaseOrgao" value="sinj_orgao"/>
    <add key="VS.NmBaseTipoDeFonte" value="sinj_tipo_de_fonte"/>
    <add key="VS.NmBaseTipoDePublicacao" value="sinj_tipo_de_publicacao"/>
    <add key="VS.NmBaseTipoDeRelacao" value="sinj_tipo_de_relacao"/>
    <add key="VS.NmBaseVocabularioControlado" value="sinj_vocabulario"/>
    <add key="VS.NmBaseNorma" value="sinj_norma"/>
    <add key="VS.NmBaseDiario" value="sinj_diario"/>
    <add key="VS.NmBaseUsuario" value="sinj_usuario"/>
    <add key="VS.NmBaseArquivoErroMigracao" value="arquivo_erro_migracao"/>

    <!-- Ambiente de TESTE VisualStudio -->
    <add key="TESTE.url_rest" value="http://api.brlight.net/api"/>
    <add key="TESTE.string_connection_lbw" value="user=lbw;password=lbw;server=127.0.0.1;udb=defudb"/>
    <add key="TESTE.golden_access_connection_string" value="http://127.0.0.1:3271/GoldenAccess.soap"/>
    <add key="TESTE.diretorio_arquivo" value="S:\LightInfocon\Dados\Content\Sinj"/>
    <add key="TESTE.NmBaseAutoria" value="sinj_autoria"/>
    <add key="TESTE.NmBaseInteressado" value="sinj_interessado"/>
    <add key="TESTE.NmBaseRelator" value="sinj_relator"/>
    <add key="TESTE.NmBaseRequerente" value="sinj_requerente"/>
    <add key="TESTE.NmBaseRequerido" value="sinj_requerido"/>
    <add key="TESTE.NmBaseSituacao" value="sinj_situacao"/>
    <add key="TESTE.NmBaseTipoDeNorma" value="sinj_tipo_de_norma"/>
    <add key="TESTE.NmBaseOrgao" value="sinj_orgao"/>
    <add key="TESTE.NmBaseTipoDeFonte" value="sinj_tipo_de_fonte"/>
    <add key="TESTE.NmBaseTipoDePublicacao" value="sinj_tipo_de_publicacao"/>
    <add key="TESTE.NmBaseTipoDeRelacao" value="sinj_tipo_de_relacao"/>
    <add key="TESTE.NmBaseVocabularioControlado" value="sinj_vocabulario"/>
    <add key="TESTE.NmBaseNorma" value="sinj_norma"/>
    <add key="TESTE.NmBaseDiario" value="sinj_diario"/>
    <add key="TESTE.NmBaseUsuario" value="sinj_usuario"/>
    <add key="TESTE.NmBaseArquivoErroMigracao" value="arquivo_erro_migracao"/>

    <!-- Ambiente de PRODUÇÂO -->
    <add key="PRODUCAO.url_rest" value="http://10.9.16.197/api"/>
    <add key="PRODUCAO.string_connection_lbw" value="user=lbw;password=lbw;server=127.0.0.1;udb=defudb"/>
    <add key="PRODUCAO.golden_access_connection_string" value="http://127.0.0.1:3271/GoldenAccess.soap"/>
    <add key="PRODUCAO.diretorio_arquivo" value="F:\Lightinfocon\Dados\Content\Sinj"/>
    <add key="PRODUCAO.NmBaseAutoria" value="sinj_autoria"/>
    <add key="PRODUCAO.NmBaseInteressado" value="sinj_interessado"/>
    <add key="PRODUCAO.NmBaseRelator" value="sinj_relator"/>
    <add key="PRODUCAO.NmBaseRequerente" value="sinj_requerente"/>
    <add key="PRODUCAO.NmBaseRequerido" value="sinj_requerido"/>
    <add key="PRODUCAO.NmBaseSituacao" value="sinj_situacao"/>
    <add key="PRODUCAO.NmBaseTipoDeNorma" value="sinj_tipo_de_norma"/>
    <add key="PRODUCAO.NmBaseOrgao" value="sinj_orgao"/>
    <add key="PRODUCAO.NmBaseTipoDeFonte" value="sinj_tipo_de_fonte"/>
    <add key="PRODUCAO.NmBaseTipoDePublicacao" value="sinj_tipo_de_publicacao"/>
    <add key="PRODUCAO.NmBaseTipoDeRelacao" value="sinj_tipo_de_relacao"/>
    <add key="PRODUCAO.NmBaseVocabularioControlado" value="sinj_vocabulario"/>
    <add key="PRODUCAO.NmBaseNorma" value="sinj_norma"/>
    <add key="PRODUCAO.NmBaseDiario" value="sinj_diario"/>
    <add key="PRODUCAO.NmBaseUsuario" value="sinj_usuario"/>
    <add key="PRODUCAO.NmBaseArquivoErroMigracao" value="arquivo_erro_migracao"/>
  </appSettings>
</configuration>