<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Ambiente" value="VS" />

    <!-- Ambiente de Desenvolvimento VisualStudio -->
    <add key="VS.URLBaseREST" value="http://api.brlight.net/tcdf/api"/>
    <!--<add key="VS.URLBaseREST" value="http://10.9.16.197/api"/>-->
    <add key="VS.NmBaseArquivoErroMigracao" value="arquivo_erro_migracao"/>
    <add key="VS.diretorio_arquivo" value="I:\Lightinfocon\Dados\Content\Sinj"/>
  </appSettings>
</configuration>