<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Ambiente" value="Desenvolvimento" />
    <!--<add key="StringConnectionLexml" value="Server=10.9.16.130;Database=lexml;Trusted_Connection=False;User Id=lexml;Password=noV@*20II"/>-->
    <add key="StringConnectionLexml" value="Server=127.0.0.1;Database=lexml;Trusted_Connection=False;User Id=lexml;Password=noV@*20II"/>
    <add key="ExcecutionIsAllowed" value="true"/>
    <add key="length_page" value="500"/>


    <add key="Desenvolvimento.NmBaseNorma" value="sinj_norma" />
    <!--<add key="Desenvolvimento.URLBaseREST" value="http://10.9.16.197:81/api" />-->
    <add key="Desenvolvimento.URLBaseREST" value="http://127.0.0.1:10081/api" />
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
