<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Ambiente" value="DESENVOLVIMENTO_VS"/>
    
    <add key="DESENVOLVIMENTO_VS.URLBaseREST" value="http://api.brlight.net/tcdf/api"/>
    <add key="DESENVOLVIMENTO_VS.NmBaseNorma" value="sinj_norma" />
    <add key="DESENVOLVIMENTO_VS.NmBaseDiario" value="sinj_diario" />
    <add key="DESENVOLVIMENTO_VS.NmBaseAmbito" value="sinj_ambito" />
    <add key="DESENVOLVIMENTO_VS.NmBaseOrgaoCadastrador" value="sinj_orgao_cadastrador" />
    <add key="DESENVOLVIMENTO_VS.NmBaseOrgao" value="sinj_orgao" />
    <add key="DESENVOLVIMENTO_VS.NmBaseAutoria" value="sinj_autoria" />
    <add key="DESENVOLVIMENTO_VS.NmBaseTipoDeFonte" value="sinj_tipo_de_fonte" />
    <add key="DESENVOLVIMENTO_VS.NmBaseTipoDeDiario" value="sinj_tipo_de_diario" />
    <add key="DESENVOLVIMENTO_VS.NmBaseTipoDeNorma" value="sinj_tipo_de_norma" />
    <add key="DESENVOLVIMENTO_VS.NmBaseTipoDePublicacao" value="sinj_tipo_de_publicacao" />
    <add key="DESENVOLVIMENTO_VS.NmBaseSituacao" value="sinj_situacao" />
    <add key="DESENVOLVIMENTO_VS.NmBaseUsuario" value="sinj_usuario" />
    <add key="DESENVOLVIMENTO_VS.NmBaseRequerente" value="sinj_requerente" />
    <add key="DESENVOLVIMENTO_VS.NmBaseRequerido" value="sinj_requerido" />
    <add key="DESENVOLVIMENTO_VS.NmBaseRelator" value="sinj_relator" />
    <add key="DESENVOLVIMENTO_VS.NmBaseProcurador" value="sinj_procurador" />
    <add key="DESENVOLVIMENTO_VS.NmBaseInteressado" value="sinj_interessado" />
    <add key="DESENVOLVIMENTO_VS.NmBasePerfil" value="sinj_perfil" />
    <add key="DESENVOLVIMENTO_VS.NmBasePush" value="push" />
    <add key="DESENVOLVIMENTO_VS.NmBaseTipoDeRelacao" value="sinj_tipo_de_relacao" />
    <add key="DESENVOLVIMENTO_VS.NmBaseVocabulario" value="sinj_vocabulario" />

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
