<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Ambiente" value="Desenvolvimento"/>
    <!--<add key="Ambiente" value="Producao"/>-->

    <!-- Ambiente de Desenvolvimento  -->
    <add key="Desenvolvimento.NmBaseNorma" value="sinj_norma"/>
    <add key="Desenvolvimento.NmBaseDiario" value="sinj_diario" />
    <add key="Desenvolvimento.NmBasePush" value="push" />
    <add key="Desenvolvimento.usar_proxy" value="true" />
    <add key="Desenvolvimento.URLBaseREST" value="http://api.brlight.net/tcdf/lbg"/>
    <!--<add key="Desenvolvimento.URLBaseREST" value="http://127.0.0.1:81/api"/>-->
    <add key="Desenvolvimento.MonitorarPush" value="true"/>
    <add key="Desenvolvimento.NotifyEmailServer" value="smtp.gmail.com" />
    <add key="Desenvolvimento.NotifyEmailAccount" value="monitoracao.sinj@gmail.com" />
    <add key="Desenvolvimento.NotifyEmailPort" value="587" />
    <add key="Desenvolvimento.NotifyEmailSsl" value="true" />
    <add key="Desenvolvimento.NotifyEmailCredentials" value="true" />
    <add key="Desenvolvimento.NotifyEmailPassword" value="lightbase" />
    <add key="Desenvolvimento.LinkSINJ" value="http://localhost:10501/sinj" />
    <add key="Desenvolvimento.LinkSINJPadrao" value="http://app.lightbase.cc/sinjpadrao" />
    <add key="Desenvolvimento.NmBaseLogOperacao" value="sinj_log_operacao" />
    
    <!-- Ambiente de Teste  -->
    <add key="Teste.NmBaseNorma" value="sinj_norma"/>
    <add key="Teste.NmBaseDiario" value="sinj_diario" />
    <add key="Teste.NmBasePush" value="push" />
    <add key="Teste.URLBaseREST" value="http://api.brlight.net/tcdf/lbg"/>
    <!--<add key="Teste.URLBaseREST" value="http://127.0.0.1:81/api"/>-->
    <add key="Teste.MonitorarPush" value="true"/>
    <add key="Teste.NotifyEmailServer" value="smtp.gmail.com" />
    <add key="Teste.NotifyEmailAccount" value="monitoracao.sinj@gmail.com" />
    <add key="Teste.NotifyEmailPort" value="587" />
    <add key="Teste.NotifyEmailSsl" value="true" />
    <add key="Teste.NotifyEmailCredentials" value="true" />
    <add key="Teste.NotifyEmailPassword" value="lightbase" />
    <add key="Teste.LinkSINJ" value="http://app.lightbase.cc/sinj" />
    <add key="Teste.LinkSINJPadrao" value="http://app.lightbase.cc/sinjpadrao" />
    <add key="Teste.NmBaseLogOperacao" value="sinj_log_operacao" />

    <!-- Ambiente de Produção -->
    <add key="Producao.NmBaseNorma" value="sinj_norma"/>
    <add key="Producao.NmBaseDiario" value="sinj_diario" />
    <add key="Producao.NmBasePush" value="push" />
    <add key="Producao.URLBaseREST" value="http://127.0.0.1:8008/lbg"/>
    <add key="Producao.MonitorarPush" value="true"/>
    <add key="Producao.NotifyEmailServer" value="10.9.16.22" />
    <add key="Producao.NotifyEmailAccount" value="notificacao.sinj@tc.df.gov.br" />
    <add key="Producao.NotifyEmailPort" value="25" />
    <add key="Producao.NotifyEmailSsl" value="false" />
    <add key="Producao.NotifyEmailCredentials" value="false" />
    <add key="Producao.NotifyEmailPassword" value="lightbase" />
    <add key="Producao.LinkSINJ" value="http://www.sinj.df.gov.br/sinj" />
    <add key="Producao.LinkSINJPadrao" value="http://www.sinj.df.gov.br/sinjpadrao" />
    <add key="Producao.NmBaseLogOperacao" value="sinj_log_operacao" />

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
