<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Ambiente" value="Desenvolvimento"/>

        <!--<add key="Desenvolvimento.URLBaseREST" value="http://192.168.56.10:8008/lbg"/>-->
        <add key="Desenvolvimento.URLBaseREST" value="http://localhost:8009/lbg"/>
        <add key="Desenvolvimento.NmBaseArquivo" value="sinj_arquivo"/>
        <!-- add key="Desenvolvimento.URLBaseREST" value="http://www.sinj.df.gov.br/sinjcadastro/ashx/"/> -->
        <!-- <add key="URLBaseTeste" value="http://10.0.0.130:81/api"/> -->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
