<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StringDeConexao" value="user=lbw;password=lbw;server=server-sinj;udb=defudb"/>
    <add key="bases" value="dodfs"/>
    <add key="normas.nm_coluna_id" value="Id"/>
    <add key="normas.nm_coluna_path_file" value="CaminhoArquivoTextoConsolidado"/>
    <add key="normas.nm_coluna_texto" value="ConteudoArquivoTextoConsolidado"/>
    <add key="normas.nm_base" value="VersoesDasNormas"/>
    <add key="normas.path_repository_files" value="W:\Development\AppFolders\arquivos"/>
    <add key="dodfs.nm_coluna_id" value="Id"/>
    <add key="dodfs.nm_coluna_path_file" value="CaminhoArquivoTexto"/>
    <add key="dodfs.nm_coluna_texto" value="ConteudoArquivoTexto"/>
    <add key="dodfs.nm_base" value="VersoesDosDodfs"/>
    <add key="dodfs.path_repository_files" value="W:\Development\AppFolders\arquivos"/>
  </appSettings>
</configuration>