<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Ambiente" value="Desenvolvimento"/>

    <!-- Ambiente de Desenvolvimento  -->
    <add key="Desenvolvimento.AtualizarVacatioLegis" value="true"/>
    <add key="Desenvolvimento.URLBaseREST" value="http://app.lightbase.cc/sinjrest/"/>
    <add key="Desenvolvimento.NmBaseNorma" value="sinj_norma"/>
    <add key="Desenvolvimento.NmBaseTipoDeNorma" value="sinj_tipo_de_norma" />
    <add key="Desenvolvimento.NmBaseSituacao" value="sinj_situacao" />
    <add key="Desenvolvimento.NmBaseTipoDeRelacao" value="sinj_tipo_de_relacao" />
    <add key="Desenvolvimento.NmBaseArquivoVersionadoNorma" value="sinj_arquivo_versionado_norma" />
    <add key="Desenvolvimento.ChRelacoesAlteracaoCompleta" value="4,7,21,25,a8ed93396fcc4959b9b8e82808880f2a"/>
    <add key="Desenvolvimento.ChRelacoesDesfazAlteracaoCompleta" value="18,b4fe69f9b8d748b19e41be8a2071dbdd,8e7abc807cb94cea93eccbb5ce56d92a"/>
    <add key="Desenvolvimento.ChRelacoesLeco" value="9"/>
    <add key="Desenvolvimento.ChRelacoesRenumeracao" value="36"/>
    <add key="Desenvolvimento.ChRelacoesAcrescimo" value="1"/>
    <add key="Desenvolvimento.ChRelacoesInformativo" value="10,11,12,13,16"/>

    <!-- Ambiente de Teste  -->
    <add key="Teste.AtualizarVacatioLegis" value="true"/>
    <add key="Teste.URLBaseREST" value="http://app.lightbase.cc/sinjrest/"/>
    <add key="Teste.NmBaseNorma" value="sinj_norma"/>
    <add key="Teste.NmBaseTipoDeNorma" value="sinj_tipo_de_norma" />
    <add key="Teste.NmBaseSituacao" value="sinj_situacao" />
    <add key="Teste.NmBaseTipoDeRelacao" value="sinj_tipo_de_relacao" />
    <add key="Teste.NmBaseArquivoVersionadoNorma" value="sinj_arquivo_versionado_norma" />
    <add key="Teste.ChRelacoesAlteracaoCompleta" value="4,7,21,25,a8ed93396fcc4959b9b8e82808880f2a"/>
    <add key="Teste.ChRelacoesDesfazAlteracaoCompleta" value="18,b4fe69f9b8d748b19e41be8a2071dbdd,8e7abc807cb94cea93eccbb5ce56d92a"/>
    <add key="Teste.ChRelacoesLeco" value="9"/>
    <add key="Teste.ChRelacoesRenumeracao" value="36"/>
    <add key="Teste.ChRelacoesAcrescimo" value="1"/>
    <add key="Teste.ChRelacoesInformativo" value="10,11,12,13,16"/>

    <!-- Ambiente de Producao  -->
    <add key="Producao.AtualizarVacatioLegis" value="true"/>
    <add key="Producao.URLBaseREST" value="http://127.0.0.1:8008/lbg"/>
    <add key="Producao.NmBaseNorma" value="sinj_norma"/>
    <add key="Producao.NmBaseTipoDeNorma" value="sinj_tipo_de_norma" />
    <add key="Producao.NmBaseSituacao" value="sinj_situacao" />
    <add key="Producao.NmBaseTipoDeRelacao" value="sinj_tipo_de_relacao" />
    <add key="Producao.NmBaseArquivoVersionadoNorma" value="sinj_arquivo_versionado_norma" />
    <add key="Producao.ChRelacoesAlteracaoCompleta" value="4,7,21,25,a8ed93396fcc4959b9b8e82808880f2a"/>
    <add key="Producao.ChRelacoesDesfazAlteracaoCompleta" value="18,b4fe69f9b8d748b19e41be8a2071dbdd,8e7abc807cb94cea93eccbb5ce56d92a"/>
    <add key="Producao.ChRelacoesLeco" value="9"/>
    <add key="Producao.ChRelacoesRenumeracao" value="36"/>
    <add key="Producao.ChRelacoesAcrescimo" value="1"/>
    <add key="Producao.ChRelacoesInformativo" value="10,11,12,13,16"/>
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
