<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Ambiente" value="Desenvolvimento"/>

    <!-- Ambiente de Desenvolvimento  -->
    <add key="Desenvolvimento.AtualizarVacatioLegis" value="true"/>
    <add key="Desenvolvimento.URLBaseREST" value="http://api.brlight.net/tcdf/lbg"/>
    <add key="Desenvolvimento.NmBaseNorma" value="sinj_norma"/>
    <add key="Desenvolvimento.NmBaseTipoDeNorma" value="sinj_tipo_de_norma" />
    <add key="Desenvolvimento.NmBaseSituacao" value="sinj_situacao" />
    <add key="Desenvolvimento.NmBaseArquivoVersionadoNorma" value="sinj_arquivo_versionado_norma" />

    <!-- Ambiente de Teste  -->
    <add key="Teste.AtualizarVacatioLegis" value="true"/>
    <add key="Teste.URLBaseREST" value="http://api.brlight.net/tcdf/lbg"/>
    <add key="Teste.NmBaseNorma" value="sinj_norma"/>
    <add key="Teste.NmBaseTipoDeNorma" value="sinj_tipo_de_norma" />
    <add key="Teste.NmBaseSituacao" value="sinj_situacao" />
    <add key="Teste.NmBaseArquivoVersionadoNorma" value="sinj_arquivo_versionado_norma" />

    <!-- Ambiente de Producao  -->
    <add key="Producao.AtualizarVacatioLegis" value="true"/>
    <add key="Producao.URLBaseREST" value="http://127.0.0.1:8008/lbg"/>
    <add key="Producao.NmBaseNorma" value="sinj_norma"/>
    <add key="Producao.NmBaseTipoDeNorma" value="sinj_tipo_de_norma" />
    <add key="Producao.NmBaseSituacao" value="sinj_situacao" />
    <add key="Producao.NmBaseArquivoVersionadoNorma" value="sinj_arquivo_versionado_norma" />
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
