<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Ambiente" value="DESENVOLVIMENTO_VS"/>
    <!--<add key="DESENVOLVIMENTO_VS.URLBaseREST" value="http://10.0.0.130:81/api"/>-->
    <!--<add key="DESENVOLVIMENTO_VS.URLBaseREST" value="http://127.0.0.1:10081/api"/>-->
    <add key="DESENVOLVIMENTO_VS.URLBaseREST" value="http://127.0.0.1:20081/api"/>
    <add key="DESENVOLVIMENTO_VS.NmBaseNorma" value="sinj_norma"/>
    <add key="DESENVOLVIMENTO_VS.NmBaseOrgao" value="sinj_orgao"/>
    
    <add key="PRODUCAO.URLBaseREST" value="http://127.0.0.1:81/api"/>
    <add key="PRODUCAO.NmBaseNorma" value="sinj_norma"/>
    <add key="PRODUCAO.NmBaseOrgao" value="sinj_orgao"/>

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
